#loading {
    background: #141414 url(../../assets/images/logo.png) no-repeat scroll center center;
    height: 100%;
    width: 100%;
    background-size: 15%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden !important;
    right: 0px;
    z-index: 999999;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}